############
## Server Config Profile "default"
##

profile_name = Default
load_new_chunks = true
update_chunks = true
footsteps = false
display_coordinates = true
waypoints = true
render_waypoints = true
waypoint_backgrounds = true
cave_mode_allowed = false
cave_mode_allowed_dimensions = []
legible_cave_maps = false
auto_cave_mode = -1
display_cave_mode_start = false
display_player_as_arrow = true
display_hovered_biome = true
detect_ambiguous_y = false
map_teleport_allowed = false
partial_y_teleport = false
display_opac_claims = false
display_minimap_radar = false
display_tracked_players = true
