############
## Server Config Profile "default"
##

profile_name = Default
display_minimap = false
display_radar = false
tracked_players_on_minimap = true
tracked_players_in_world = true
waypoints_in_world = true
waypoints_on_minimap = true
waypoints_all_sets = false
deathpoints = false
old_deathpoints = false
switch_auto_waypoints_on_death = false
hide_waypoint_coordinates = true
minimap_cave_mode_allowed = false
minimap_auto_cave_mode = -1
minimap_cave_mode_allowed_dimensions = []
minimap_legible_cave_maps = false
minimap_display_world_map_chunks = false
minimap_display_redstone = false
minimap_display_flowers = false
minimap_display_stained_glass = false
minimap_chunk_grid = -1
minimap_slime_chunks = false
minimap_light_overlay_type = 0
minimap_display_opac_claims = false
minimap_display_opac_current_claim = false
waypoint_teleport_cross_dimension = false
waypoint_partial_y_teleport = false
